# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace
xcuserdata/

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Archives
*.ipa
*.dSYM.zip
*.dSYM
*.xcarchive

# Secrets or sensitive files
*.key
*.pem
*.p12

# Other
*.DS_Store

